// text color
.text-white{
    color: $white;
}

.text-gold{
    color: $goldenRod!important;
}

.text-black{
    color: $black;
}

// Margin
.mb-0{
    margin-bottom: 0;
}

.mb-r3{
    margin-bottom: 3rem;
}

// Background

// Btn-Background
.btn-black{
    background-color: #000000;
}


.divider{
    border: 2px solid #fcd66c;
    width: 200px;
}
