@import 'sectionMain/_section2.scss';
@import 'sectionMain/_section3.scss';
@import 'sectionMain/_section4.scss';
@import 'sectionMain/_section5.scss';
@import 'sectionMain/_section6.scss';

main{


    position: relative;
    z-index: 1;
    background-color: white;




    .container-fluid{
        margin-top: 50px;
    }

    section#section1{

        div[class^="col-"]:first-child{
            padding: 0;
            float: left;
            .card{
                border: 0;
                padding: 100px;
                .card-title{
                    @include py(20px);
                    font-weight: 400;
                    font-size: 36px;
                }

                .card-text{
                    @include py(20px);
                    font-size: 16px;
                }

                a.btn{
                    @include py(10px);
                    @include px(30px);
                    color: $white;
                    &:hover{
                        background-color: $black;
                    }
                }
            }
        }

        div[class^="col-"]:last-child{
            padding: 0;
            float: left;
            div.world{
                border: 0;
                height: 100%;
                background-image: url('../img/home-content-bg-1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                .cont-div-data{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 100px;


                    .div-data{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        // @include my(50px);
                        text-align: center;
                        justify-content: center;

                        color: $white;

                        i[class^="fa"]{
                            font-size: 50px;
                        }

                        span.data-numbers{
                            padding-left: 10px;
                            font-size: 60px;
                        }

                        p.head-data{
                            font-size: 24px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1020px) {

    }
}
