@import 'sectionMain/_section1.scss';
@import 'sectionMain/_section2.scss';
@import 'sectionMain/_section3.scss';
@import 'sectionMain/_section4.scss';
@import 'sectionMain/_section5.scss';
@import 'sectionMain/_section6.scss';

main{

    position: relative;
    z-index: 1;
    background-color: white;

    .container-fluid{
        margin-top: 50px;
    }


    @media (max-width: 1020px) {

    }
}
