*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font: 12px Arial,  'Montserrat', sans-serif;
}

// TODO: media
// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }
