#section4{
    .row{
        margin: 0;
    }

    // .card{
    //     text-align: center;
    //     .card-title{
    //         font-size: 36px;
    //     }
    //     .card-text:last-child {
    //         font-size: 24px;
    //     }
    //     .divider{
    //         margin-top: 16px;
    //         margin-bottom: 40px;
    //         @include mx-auto;
    //     }
    // }


    div[class^="col-"]{
        margin: 50px 0;
        padding: 0;

        A.btn{
            width: 100%;
            height: 160px;
            margin: auto;
            line-height: 150px;
            vertical-align: middle;

            font-size: 21px;
            text-decoration: none;
            color: $white;

            background-color: $burntSienna;

            &:hover{
                background-color: $regentGray;
            }
        }
    }

}
