$w_100: 100%;

// Color
$white: #ffffff;
$black: #000000;
$greyLight: #f5f5f5;

// Color Cube
$white: #ffffff;
$tuna: #353841;
$burntSienna: #ed6864;
$FrenchGray: #bababc;
$jumbo: #78787b;
$goldenRod: #fcd66c;
$tabasco: #92340f;

// Mediant Cut
$roseFog: #ebcac5;
$tuna: #3e3f47;
$makara: #8d7c6d;
$edward: #a1aba9;
$regentGray: #8c9aa5;


// Material Design
$burntSienna: #ea6862;
$grayChateau: #a2abae;
$Sambuca: #3d2512;
$thunder: #171216;
$putty: #e9c899;


// font
$fontSize14 : 14px;
$fontSizeNav : 16px;

// Media query breakpoints
$layout-breakpoint-large: 1250px;
$layout-breakpoint-small: 1020px;
