#section2Foot{
    background-color: $greyLight;
    div[class^="col-"]:first-child{
        display: flex;
        justify-content: center;
        margin-top: 38px;
        margin-bottom: 10px;
    }

    div[class^="col-"]:nth-child(2){
        display: flex;
        justify-content: center;
        @include my(20px);

        ul{
            display: flex;
            flex-direction: row;
            li{
                cursor: pointer;
                border-radius: 55%;
                padding: 10px;
                height: 53px;
                width: 55px;
                display: flex;
                margin: 8px;
                a[class^="fa"]{
                    font-size: 30px;
                    margin: auto;
                    text-decoration: none;
                    color: $goldenRod;
                }

                &:hover{
                    opacity: 0.9;
                }
            }
        }
    }
}
