* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font: 12px Arial, "Montserrat", sans-serif;
}

.row {
  margin: 0;
}

.text-white {
  color: #ffffff;
}

.text-gold {
  color: #fcd66c !important;
}

.text-black {
  color: #000000;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-r3 {
  margin-bottom: 3rem;
}

.btn-black {
  background-color: #000000;
}

.divider {
  border: 2px solid #fcd66c;
  width: 200px;
}

nav.navbar {
  text-transform: capitalize;
  width: 100%;
  position: fixed;
  z-index: 10;
  0: 0;
  0: 0;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  transition: background 0.4s ease-in-out;
}
nav.navbar .navbar-brand img {
  height: 70px;
  width: 345px;
}
nav.navbar .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
nav.navbar .dropdown-menu {
  margin-top: 0 !important;
  margin-left: 25px;
  padding-top: 58px;
  width: 250px;
  background-color: transparent;
  border: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
nav.navbar .dropdown-menu .dropdown-item {
  background-color: #ffffff;
  line-height: 40px;
}
nav.navbar .dropdown-menu .dropdown-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
nav.navbar .dropdown-menu .dropdown-divider {
  margin: 0;
}
nav.navbar .dropdown-menu .dropdown-item:first-child {
  box-shadow: 0px -4px 0px 0px #fcd66c;
}
nav.navbar .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
nav.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  transition: all 2s ease-in-out;
}
nav.navbar .navbar-collapse {
  flex-grow: 0;
  font-size: 16px;
}
nav.navbar .navbar-collapse li.nav-item {
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}
nav.navbar .navbar-collapse li.nav-item:hover a.nav-link {
  color: #fcd66c;
}
nav.navbar .navbar-collapse .btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  font-size: 16px;
  background-color: #fcd66c;
  color: #ffffff;
}
nav.navbar .navbar-collapse .btn:hover {
  background-color: #000000;
}
.jumbotron {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  0: 0;
  0: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.jumbotron img[alt=background-image] {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
}
.jumbotron .container {
  text-align: center;
}
.jumbotron .container .title {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron .container .lead1 {
  letter-spacing: 1.3px;
  font-size: 1.35rem;
}
.jumbotron .container .lead1:first-letter {
  text-transform: uppercase;
}
.jumbotron .container .btn-group {
  display: flex;
  justify-content: center;
}
.jumbotron .container .btn-group .cont-btn {
  margin-top: 2rem;
}
.jumbotron .container .btn-group .cont-btn .btn {
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin: 0 15px;
}
.jumbotron .container .btn-group .cont-btn .btn1 {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.jumbotron .container .btn-group .cont-btn .btn1:hover {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2 {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}

header {
  height: 100vh;
}

main {
  position: relative;
  z-index: 1;
  background-color: white;
}
main section#everyMomentCounts div[class^=col-]:first-child {
  padding: 0;
}
main section#everyMomentCounts div[class^=col-]:first-child .card.everyMoment {
  border: 0;
  padding: 100px;
}
main section#everyMomentCounts div[class^=col-]:first-child .card.everyMoment .card-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
}
main section#everyMomentCounts div[class^=col-]:first-child .card.everyMoment .card-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
main section#everyMomentCounts div[class^=col-]:first-child .card.everyMoment a.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}
main section#everyMomentCounts div[class^=col-]:first-child .card.everyMoment a.btn:hover {
  background-color: #000000;
}
main section#everyMomentCounts div[class^=col-]:last-child {
  padding: 0;
}
main section#everyMomentCounts div[class^=col-]:last-child .card {
  border: 0;
  height: 100%;
  background-image: url("../img/home-content-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main section#everyMomentCounts div[class^=col-]:last-child .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section#everyMomentCounts div[class^=col-]:last-child .card .card-body .card-data {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
main section#everyMomentCounts div[class^=col-]:last-child .card .card-body .card-data i[class^=fa] {
  font-size: 50px;
}
main section#everyMomentCounts div[class^=col-]:last-child .card .card-body .card-data div.head-data {
  font-size: 24px;
}
.jumbotron {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  0: 0;
  0: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.jumbotron img[alt=background-image] {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
}
.jumbotron .container {
  text-align: center;
}
.jumbotron .container .title {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron .container .lead1 {
  letter-spacing: 1.3px;
  font-size: 1.35rem;
}
.jumbotron .container .lead1:first-letter {
  text-transform: uppercase;
}
.jumbotron .container .btn-group {
  display: flex;
  justify-content: center;
}
.jumbotron .container .btn-group .cont-btn {
  margin-top: 2rem;
}
.jumbotron .container .btn-group .cont-btn .btn {
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin: 0 15px;
}
.jumbotron .container .btn-group .cont-btn .btn1 {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.jumbotron .container .btn-group .cont-btn .btn1:hover {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2 {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}
