* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font: 12px Arial, "Montserrat", sans-serif;
}

@-webkit-keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 0.7;
  }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 0.7;
  }
}
.text-white {
  color: #ffffff;
}

.text-gold {
  color: #fcd66c !important;
}

.text-black {
  color: #000000;
}

.bg-goldenRod {
  background-color: #fcd66c;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-r3 {
  margin-bottom: 3rem;
}

.btn-black {
  background-color: #000000;
}

.divider {
  border: 2px solid #fcd66c;
  width: 200px;
}

.font-oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}

nav.navbar {
  text-transform: capitalize;
  width: 100%;
  position: fixed;
  z-index: 10;
  0: 0;
  0: 0;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  transition: background 0.4s ease-in-out;
}
nav.navbar .navbar-brand img {
  height: 70px;
  width: 345px;
}
nav.navbar .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
nav.navbar .dropdown-menu {
  margin-top: 0 !important;
  margin-left: 25px;
  padding-top: 58px;
  width: 250px;
  background-color: transparent;
  border: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
nav.navbar .dropdown-menu .dropdown-item {
  background-color: #ffffff;
  line-height: 40px;
}
nav.navbar .dropdown-menu .dropdown-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
nav.navbar .dropdown-menu .dropdown-divider {
  margin: 0;
}
nav.navbar .dropdown-menu .dropdown-item:first-child {
  box-shadow: 0px -4px 0px 0px #fcd66c;
}
nav.navbar .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
nav.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  transition: all 2s ease-in-out;
}
nav.navbar .navbar-collapse {
  flex-grow: 0;
  font-size: 16px;
}
nav.navbar .navbar-collapse li.nav-item {
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}
nav.navbar .navbar-collapse li.nav-item:hover a.nav-link {
  color: #fcd66c;
}
nav.navbar .navbar-collapse .btn {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fcd66c;
  color: #ffffff;
}
nav.navbar .navbar-collapse .btn:hover {
  background-color: #000000;
}
.jumbotron {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  0: 0;
  0: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.jumbotron img[alt=background-image] {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
}
.jumbotron .container {
  text-align: center;
}
.jumbotron .container .title {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron .container .lead1 {
  letter-spacing: 1.3px;
  font-size: 1.35rem;
}
.jumbotron .container .lead1:first-letter {
  text-transform: uppercase;
}
.jumbotron .container .btn-group {
  display: flex;
  justify-content: center;
}
.jumbotron .container .btn-group .cont-btn {
  margin-top: 2rem;
}
.jumbotron .container .btn-group .cont-btn .btn {
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin: 0 15px;
}
.jumbotron .container .btn-group .cont-btn .btn1 {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.jumbotron .container .btn-group .cont-btn .btn1:hover {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2 {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}

header {
  height: 100vh;
}

#section2 {
  padding-left: 100px;
  padding-right: 100px;
  color: #ffffff;
  background-image: url("../img/home-content-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section2 .card {
  text-align: center;
}
#section2 .card .card-title {
  font-size: 36px;
}
#section2 .card .card-text:last-child {
  font-size: 24px;
}
#section2 .card .divider {
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
#section2 div[class^=col-] {
  margin: 100px 0;
}
#section2 div[class^=col-]:first-child {
  display: flex;
  justify-content: center;
}
#section2 div[class^=col-]:last-child .div-data {
  float: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#section2 div[class^=col-]:last-child .div-data i {
  font-size: 60px;
  color: #fcd66c;
}
#section2 div[class^=col-]:last-child .div-data .head-card {
  font-size: 26px;
  line-height: 100px;
}
#section2 div[class^=col-]:last-child .div-data .text-card {
  padding: inherit;
  font-size: 16px;
  line-height: 40px;
  color: #bababc;
}
#section2 div[class^=col-]:last-child .div-data .btn {
  width: 175px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  background-color: #fcd66c;
  color: #ffffff;
}
#section2 div[class^=col-]:last-child .div-data .btn:hover {
  background-color: #000000;
}

#section3 {
  padding-left: 100px;
  padding-right: 100px;
}
#section3 .card {
  text-align: center;
}
#section3 .card .card-title {
  font-size: 36px;
}
#section3 .card .card-text:last-child {
  font-size: 24px;
}
#section3 .card .divider {
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
#section3 div[class^=col-] {
  margin: 50px 0;
}
#section3 div[class^=col-]:first-child {
  display: flex;
  justify-content: center;
}
#section3 div[class^=col-]:last-child {
  display: flex;
}
#section3 div[class^=col-]:last-child .card {
  float: left;
  display: flex;
  flex-direction: row;
}
#section3 div[class^=col-]:last-child .card .cont-img {
  padding-left: 15px;
  padding-right: 15px;
}
#section3 div[class^=col-]:last-child .card .cont-img .card-title {
  height: 100%;
  width: 100%;
  margin: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
  background-color: #fcd66c;
  opacity: 0;
  z-index: 2;
}
#section3 div[class^=col-]:last-child .card .cont-img img {
  max-width: 100%;
}

#section4 .row {
  margin: 0;
}
#section4 div[class^=col-] {
  margin: 50px 0;
  padding: 0;
}
#section4 div[class^=col-] A.btn {
  width: 100%;
  height: 160px;
  margin: auto;
  line-height: 150px;
  vertical-align: middle;
  font-size: 21px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ea6862;
}
#section4 div[class^=col-] A.btn:hover {
  background-color: #8c9aa5;
}

#section5 {
  justify-content: center;
}
#section5 .card .card-title {
  color: #fcd66c;
}
#section5 .card .card-text {
  font-size: 16px;
  color: #bababc;
}
#section5 .card .divider {
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
#section5 div[class^=col-]:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 36px;
}
#section5 div[class^=col-]:first-child .card {
  float: left;
}
#section5 div[class^=col-]:first-child .card .card-title {
  color: #000000;
}
#section5 div[class^=col-]:first-child .card .card-text {
  font-size: 24px;
}
#section5 div[class^=col-] {
  margin: 30px 0;
  font-size: 20px;
  float: float;
}
#section5 div[class^=col-]:nth-child(2) .card {
  display: flex;
  align-items: space-between;
  border: 1px solid #bababc;
}
#section5 div[class^=col-]:nth-child(2) .card .cont-img {
  display: flex;
  flex-direction: column;
}
#section5 div[class^=col-]:nth-child(2) .card img {
  margin-bottom: 10px;
}
#section5 div[class^=col-]:nth-child(2) .card .card-title, #section5 div[class^=col-]:nth-child(2) .card .card-text {
  padding-left: 20px;
}
#section5 div[class^=col-]:nth-child(2) .card .card-title {
  color: #fcd66c;
  margin-top: 10px;
  margin-bottom: 10px;
}
#section5 div[class^=col-]:nth-child(2) .card .card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}
#section5 div[class^=col-]:nth-child(3) {
  display: flex;
  font-size: 20px;
}
#section5 div[class^=col-]:nth-child(3) .card {
  float: left;
  display: flex;
  flex-direction: column;
}
#section5 div[class^=col-]:nth-child(3) .card .cont-img {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#section5 div[class^=col-]:nth-child(3) .card .cont-img img {
  max-width: 170px;
  padding-right: 20px;
}
#section5 div[class^=col-]:nth-child(3) .card .cont-img .card-title {
  color: #fcd66c;
  margin-top: 10px;
  margin-bottom: 10px;
}
#section5 div[class^=col-]:nth-child(3) .card .cont-img .card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}
#section5 div[class^=col-]:nth-child(4) {
  margin-bottom: 100px;
}
#section5 div[class^=col-]:nth-child(4) a.btn {
  color: #ffffff;
  width: 100%;
  padding: 15px;
  background-color: #ea6862;
  margin: auto o;
}
#section5 div[class^=col-]:nth-child(4) a.btn:hover {
  background-color: #8c9aa5;
}

#section6 {
  justify-content: center;
  color: #ffffff;
  background-image: url("../img/home-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section6 div[class^=col-] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 36px;
}
#section6 div[class^=col-] .card {
  margin-top: 200px;
  margin-bottom: 200px;
}
#section6 div[class^=col-] .card .card-text {
  font-size: 24px;
  color: #bababc;
  line-height: 40px;
  margin-bottom: 20px;
}
#section6 div[class^=col-] .card .divider {
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
#section6 div[class^=col-] .card a.btn {
  width: 180px;
  background-color: inherit;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 35px;
  padding-right: 35px;
}
#section6 div[class^=col-] .card a.btn:hover {
  color: #fcd66c;
  border: 2px solid #fcd66c;
}

main {
  position: relative;
  z-index: 1;
  background-color: white;
}
main .container-fluid {
  margin-top: 50px;
}
main section#section1 div[class^=col-]:first-child {
  padding: 0;
  float: left;
}
main section#section1 div[class^=col-]:first-child .card {
  border: 0;
  padding: 100px;
}
main section#section1 div[class^=col-]:first-child .card .card-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
}
main section#section1 div[class^=col-]:first-child .card .card-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
main section#section1 div[class^=col-]:first-child .card a.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}
main section#section1 div[class^=col-]:first-child .card a.btn:hover {
  background-color: #000000;
}
main section#section1 div[class^=col-]:last-child {
  padding: 0;
  float: left;
}
main section#section1 div[class^=col-]:last-child div.world {
  border: 0;
  height: 100%;
  background-image: url("../img/home-content-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main section#section1 div[class^=col-]:last-child div.world .cont-div-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 100px;
}
main section#section1 div[class^=col-]:last-child div.world .cont-div-data .div-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}
main section#section1 div[class^=col-]:last-child div.world .cont-div-data .div-data i[class^=fa] {
  font-size: 50px;
}
main section#section1 div[class^=col-]:last-child div.world .cont-div-data .div-data span.data-numbers {
  padding-left: 10px;
  font-size: 60px;
}
main section#section1 div[class^=col-]:last-child div.world .cont-div-data .div-data p.head-data {
  font-size: 24px;
  line-height: 40px;
}
#section1Foot {
  text-align: center;
  background-color: #ffffff;
}
#section1Foot .cont-img {
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}
#section1Foot .cont-img img {
  width: 350px;
}

footer {
  position: relative;
  z-index: 1;
  background-color: white;
}

.jumbotron {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  0: 0;
  0: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.jumbotron img[alt=background-image] {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
}
.jumbotron .container {
  text-align: center;
}
.jumbotron .container .title {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron .container .lead1 {
  letter-spacing: 1.3px;
  font-size: 1.35rem;
}
.jumbotron .container .lead1:first-letter {
  text-transform: uppercase;
}
.jumbotron .container .btn-group {
  display: flex;
  justify-content: center;
}
.jumbotron .container .btn-group .cont-btn {
  margin-top: 2rem;
}
.jumbotron .container .btn-group .cont-btn .btn {
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin: 0 15px;
}
.jumbotron .container .btn-group .cont-btn .btn1 {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.jumbotron .container .btn-group .cont-btn .btn1:hover {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2 {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.jumbotron .container .btn-group .cont-btn .btn2:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn {
  border-radius: 0;
  font-size: 16px;
}

.card {
  background-color: inherit;
  border: none;
}

p {
  margin-bottom: 10px;
}
