#section6{
    justify-content: center;
    color: $white;

    background-image: url('../img/home-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    div[class^="col-"]{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 36px;

        .card{
            @include my(200px);
            .card-text {
                font-size: 24px;
                color: $FrenchGray;
                line-height: 40px;
                margin-bottom: 20px;
            }
            .divider{
                margin-top: 16px;
                margin-bottom: 40px;
                @include mx-auto;
            }

            a.btn{
                width: 180px;
                background-color: inherit;
                border: 2px solid $white;
                color: $white;
                @include mx(25px);
                @include px(35px);
                &:hover{
                    color: $goldenRod;
                    border: 2px solid $goldenRod;
                }
            }
        }
    }


}
